@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Navigation */

.nav_container {
  background: #fffffa;
  box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.1);
  height: 8vh;
  z-index: 500;
}

.nav_wrapper {
  margin-left: 1vw;
  
  
}

.nav_items {
 
}



.nav_logo h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 4vw;
  color: #021718;
  transition: 500ms;
  margin-top: 2vh;
}

.nav_logo h3:hover {
  margin-top: -0.5vh;
  transition: 200ms;
}

/* .nav_items h3 {
  color: #021718;
  font-size: 1.5vw;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  letter-spacing: 0.1em;
  margin-right: 1em;
  transition: 200ms;
}

.nav_items h3:active {
  color:brown;
}

.nav_items h3:hover {
  margin-top: -5px;

  transition: 400ms;
} */

/* Main Page */

.main-page-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: "a b";

  width: 100vw;
  height: 100vh;
}

.main-page-side-column {
  grid-area: 'b';
  background: url("./components/img/double-bubble-dark.png");
}



.title-items {
  grid-area: "a";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  padding-bottom: 10vh;
}

.main_class h1 {
  font-weight: 900;
  font-size: 5vw;
  line-height: 1em;
  color: #021718;
  margin-bottom: 5vh;
  font-family: "Open Sans", sans-serif;
  transition: 500ms;
  margin-left: 3vw;
  animation-name: from-left;
  animation-duration: 1s;
}

.title-items h1:hover {
  letter-spacing: 0.05em;
  transition: 500ms;
}

@keyframes from-left {
  from {margin-left: -50vw;}
  to {margin-left: 3vw;}
}

@keyframes from-bottom {
  from {margin-bottom: -50vw;}
  to {margin-bottom: 5vh;}
}

.main_class h2 {
  font-size: 3vw;
  line-height: 1em;
  color: #021718;
  width: 50vw;
  margin-bottom: 5vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  transition: 500ms;
  margin-left: 3vw;
  animation-name: from-bottom;
  animation-duration: 1s;
}

.main_class a {
  color: #fffffa;
  font-size: 1.5vw;
  text-decoration: none;

  background: #01847f;
  border-radius: 8px;
  padding: 1.5vh 3vw;

  transition: 300ms;
}

.main_class a:hover {
  transform: translateY(-8px);
}

/* Skills */

.skills-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: "c";

  width: 100vw;
  height: 100vh;
}

/* .main-page-side-column-left {
  grid-area: "c";
  background: url("./components/img/repeated-square-dark.png");
} */

.skills_class h1 {
  font-size: 5vw;
  line-height: 1em;
  color: #021718;
  font-family: "Open Sans", sans-serif;
  transition: 500ms;
  font-weight: 400;
  margin-top: 4vh;
}

.skill_items {
  grid-area: "c";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(247, 247, 247);
  padding-bottom: 10vh;
}

.skill_items h1 {
}

.skill_items h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  transition: 500ms;
}

.skill_items h1:hover {
  letter-spacing: 0.05em;
  transition: 500ms;
}

.animation_trigger {
  background-color: red;
}

.active-scroll-spy {
  background-color: rgb(185, 114, 21);
}
